:root {
	--navigation-width: 200px;
	--content-max-width: 720px;
	--animation-duration: 0.3s;
	--tiny: 2px;
	--small: 4px;
	--medium: 8px;
	--large: 16px;
}

@media (prefers-reduced-motion) {
	:root { --animation-duration: 0s; }
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: #1E212B;
		--secondary: #393C47;
		--subdued: #BDB8CC;
		--accent: #633DCC;
		--accentHover: #8764E8;
		--background: #F5F2FC;
		--surface: #F8F7FC;
		--accentBackground: #fafaff;
		--stroke: #ECEDF1;
		--shadow: 0px 2px 12px #cccccc;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--primary: #FCFDFF;
		--secondary: #ECEDF1;
		--subdued: #555964;
		--accent: #A990EE;
		--accentHover: #CBBCF5;
		--background: #000000;
		--surface: #161616;
		--accentBackground: #242230;
		--stroke: #1E212B;
		--shadow: 0px 0px 2px #606060;
	}
}

@font-face {
	font-family: "WorkSans";
	src: url("fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
	font-weight: 125 950;
	font-stretch: 50% 200%;
	font-style: normal;
  }
  