@font-face {
    font-family: myFont;
    src: url(Syne-Regular.ttf);
 }

 * {
    font-family: myFont;
 }



 .page-size {
    max-width: 90%; 
	margin: 0 auto; 
	float: none;
 }

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.navbar a {
    color: #c4c4c4;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

.navbar .current {
    color: black;
}

.navbar a:hover {
    color: aqua;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: #FF67C2;
    margin-bottom: 4px;
}

.icon {
    width: 32px;
    height: 32px;
}




/* Hero Image */

.hero-image {
    margin-top: 150px;
    font-size: 94px;
    background-color: lightseagreen;
    margin-bottom: 50px;
}

.svg-image {
    height: 164px;
    width: 260px;
}

.svg-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: lightcoral;
    
}

.hero-container {
    max-width: 80%; 
	margin: 0 auto; 
	float: none;
    
   
  
}



/* Sections */

.sections {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin-top: 900px;
}


.sticky {
    position: sticky;
    top: 200px;
    left: 0;
    right: 0;
    z-index: 10;
  }

  /* Case Studies */

.thumbnail {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 255, 85);
    height: fit-content;
}

.thumbnail-image {
    height: 100%;
    width: 100%;
}

@media all and (max-width: 600px) {
    

    .menu {
        display: block;
    }

    .navbar {
        align-items: flex-start;
    }

    .links {
        flex-direction: column;
    }

    
    .hidden {
        display: none;
    }

    .active {
        display: block;
    }

    .sections {
        display: none;

    }

    .hero-image {
        margin-top: 75px;
        font-size: 42px;
        margin-bottom: 20px;
    }

    .svg-image {
        height: 134px;
        width: 230px;
    }


 

  
}
