@font-face {
    font-family: SyneRegular;
    src: url(Syne-Regular.ttf);
 }

 @font-face {
     font-family: SyneSemiBold;
     src: url(Syne-SemiBold.ttf);
 }

 @font-face {
     font-family: OpenSans;
     src: url(OpenSans-Light.ttf);
 }

 * {
    font-family: SyneRegular;
 }

 body {
     margin: 0;
     background-color: #FAFAFB;
 }

 p {font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    line-height: 200%;
    margin: 10px 0;
    color: #2f3542;
}

h2 {
    font-size: 60px;
    margin: 0;
    color: #2f3542;
}

 h3 {
     font-family: -apple-system, BlinkMacSystemFont, sans-serif;
     font-size: 16px;
     letter-spacing: 2px;
     margin: 0;
     color: #2F3542;
     text-transform: uppercase;
     opacity: 0.4;
     margin-bottom: 3vh;
 }

 h4 {
     font-size: 30px;
     color: #2f3542;
     margin: 0;

 }




 .page-size {
    max-width: 90%; 
	margin: 0 auto; 
	float: none;
 }

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar a {
    color: #c4c4c4;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

.navbar .current {
    color: #606060;
}

.navbar a:hover {
    color: aqua;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: #FF67C2;
    margin-bottom: 4px;
}

.icon {
    width: 32px;
    height: auto;
}




/* Hero Image */

.hero-image {
    margin-top: 20vh;
    font-size: 60px;
    font-family: SyneSemiBold;
    color: #100B28;
}

.svg-image {
    height: 164px;
    width: 260px;
}

.svg-container {
    display: flex;
    flex-direction: row-reverse;
    
}

.hero-container {
    max-width: 80%; 
	margin: 0 auto; 
	float: none;
    height: 100vh;
    
   
  
}



/* Sections */

.sections {
    display: flex;
    flex-direction: column;
    margin-top: 60vh;
    width: fit-content;
    min-height: 400px;
    
}

.sections a {
    font-size: 18pt;
    color: #c4c4c4;
    text-decoration: none;
    padding: 10px;
}

.sections a:hover {
    color: aqua;
}

.sticky {
    position: sticky;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 10;
  }

  /* Case Studies */

.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail a {
    margin-top: 10vh;
    text-decoration: none;
    font-size: 30px;
    color: #606060;
}

.thumbnail-description {
    margin-top: 2vh;
    font-size: 30px;
    color: #2f3542;
}


.responsive {
    width: 100%;
    max-width: 1200px;
    height: auto;
  }

.responsive-top {
    width: 100%;
    height: auto;

}


/* Case Study */

.case-study {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    margin: 0 auto;

    
}



/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #BBB2E9;
    color: #2f3542;
    height: 90vh;
    margin-top: 15vh;

}

.footer-info {
    font-size: 20px;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30vh;
}

.socials a {
    margin: 50px;
}





@media all and (max-width: 600px) {
    

    .menu {
        display: block;
    }

    .navbar {
        align-items: flex-start;
    }

    .links {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    
    .hidden {
        display: none;
    }

    .active {
        display: block;
    }

    .sections {
        display: none;

    }

    .hero-image {
        margin-top: 75px;
        margin-bottom: 20px;
        font-size: 40px;
    }

    .svg-image {
        height: 134px;
        width: 230px;
    }

    h3 {
        font-size: 20px;
    }


    .footer-info {
        font-size: 10px;
    }

    .socials a {
        margin: 8vw;
    }



}
